.home_div {
  .status {
    h2 {
      padding: 32px;
      font-size: 24px;
      color: #ffffff;
      line-height: 31.49px;
      font-family: "Fira Code", monospace;
      font-weight: 500;
      border: 1px solid #abb2bf;
      position: relative;
      span {
        &:nth-child(1) {
          background: #282c33;
          color: #abb2bf;
          position: absolute;
          top: -7px;
          font-size: 55px;
          padding: 4px 8px;
          height: 21px;
        }
        &:nth-child(2) {
          background: #282c33;
          color: #abb2bf;
          position: absolute;
          top: 70%;
          font-size: 55px;
          right: 10px;
          height: 40px;
          padding: 4px 8px;
        }
      }
    }
    h3 {
      margin-top: -20px;
      margin-left: 540px;
      font-size: 24px;
      font-family: "Fira Code", monospace;
      font-weight: 400;
      border: 1px solid #abb2bf;
      padding: 16px;
      color: #ffffff;
    }
  }
}

// ===== Media section ======

@media screen and (max-width: 800px) {
  .home_div {
    .status {
      h2 {
        span {
          &:nth-child(2) {
            top: 90px;
          }
        }
      }
      h3 {
        margin-left: 70%;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .home_div {
    .status {
      h2 {
        font-size: 18px;
        padding: 28px;
        span {
          font-size: 45px;
          &:nth-child(2) {
            top: 72%;
          }
        }
      }
      h3 {
        font-size: 18px;
        margin-top: -18px;
      }
    }
  }
}
@media screen and (max-width: 395px) {
  .home_div {
    .status {
      h2 {
        font-size: 18px;
        padding: 28px;
        span {
          font-size: 35px;
          &:nth-child(1) {
            top: -10px;
            font-size: 35px;
          }
          &:nth-child(2) {
            top: 118px;
            font-size: 35px;
          }
        }
      }
      h3 {
        font-size: 18px;
        margin-top: -16px;
        margin-left: 48%;
      }
    }
  }
}
@media screen and (max-width: 370px) {
  .home_div {
    .status {
      h2 {
        font-size: 16px;
        padding: 15px;
        span {
          font-size: 35px;
          &:nth-child(1) {
            top: -10px;
            font-size: 35px;
            padding: 2px 4px;
          }
          &:nth-child(2) {
            top: 90%;
            font-size: 35px;
            padding: 2px 4px;
          }
        }
      }
      h3 {
        font-size: 18px;
        margin-top: -16px;
        margin-left: 48%;
      }
    }
  }
}
@media screen and (max-width: 170px) {
  .home_div {
    .status {
      h2 {
        font-size: 13px;
        padding: 11px;
      }
    }
  }
}
