.project-div {
  .title {
    display: flex;
    flex-flow: column;
    h2 {
      font-size: 32px;
      font-family: "Fira Code";
      font-weight: 600;
      color: #ffffff;
      span {
        color: #c778dd;
      }
    }
    p {
      font-size: 16px;
      font-family: "Fira Code";
      font-weight: 400;
      color: #ffffff;
      margin-top: 0;
    }
  }
  .a {
    .l {
      h2 {
        font-size: 32px;
        font-family: "Fira Code";
        font-weight: 500;
        color: #ffffff;
        span {
          color: #c778dd;
        }
      }
    }
    .c {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      .card {
        border: 1px solid #abb2bf;
        width: fit-content;
        p {
          font-size: 16px;
          font-family: "Fira Code";
          font-weight: 400;
          display: flex;
          gap: 8px;
          color: #abb2bf;
          border: 1px solid;
          padding: 8px;
          margin-top: -2%;
        }
        h2 {
          font-size: 24px;
          font-family: "Fira Code";
          font-weight: 500;
          color: #ffffff;
          padding: 16px 16px 0 16px;
        }
        h3 {
          font-size: 16px;
          font-family: "Fira Code";
          font-weight: 400;
          color: #abb2bf;
          padding: 0px 16px;
        }
        .inputs {
          display: flex;
          gap: 15px;
          padding: 0 16px 16px 16px;

          a {
            display: flex;
            gap: 12px;
            text-decoration: none;
            input {
              font-size: 16px;
              font-family: "Fira Code";
              font-weight: 500;
              color: #ffffff;
              padding: 8px 16px;
              background: transparent;
              border: 1px solid #c778dd;
              outline: none;
              transition: 0.3s;
              &:hover {
                cursor: pointer;
                background: rgba(199, 120, 221, 0.2);
              }
              &:nth-child(2) {
                border: 1px solid #abb2bf;
                &:hover {
                  cursor: pointer;
                  background: rgba(171, 178, 191, 0.2);
                }
              }
            }
          }
        }
      }
    }
  }
  .small-apps {
    .content-s {
      .card {
        p {
          margin-top: 0;
        }
      }
    }
  }

  // Start of media 😁

  @media screen and (max-width: 1345px) {
    .a {
      .c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
      }
    }
  }
  @media screen and (max-width: 785px) {
    .a {
      .c {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
      }
    }
  }
  @media screen and (max-width: 485px) {
    .title {
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 14px;
      }
    }
    .a {
      .l {
        h2 {
          font-size: 25px;
        }
      }
      .c {
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        .card {
          img {
            width: 100%;
          }
          h2 {
            padding: 12px 12px 0 12px;
          }
          h3 {
            padding: 0 12px;
          }
          .inputs {
            padding: 0 12px 12px 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 305px) {
    .title {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .a {
      .l {
        h2 {
          font-size: 20px;
        }
      }
      .c {
        .card {
          h2 {
            padding: 0;
            font-size: 16px;
          }
          h3 {
            padding: 0;
            font-size: 12px;
          }
          .inputs {
            padding: 0;
            a {
              display: flex;
              flex-flow: column;
              padding: 0 5px 5px 5px;
            }
          }
        }
      }
    }
  }
}
