html,
body {
  margin: 0;
  padding: 0;
}
#root {
  background: #282c33;
}
.container {
  padding: 0 170px;
  display: flex;
  flex-flow: column;
  gap: 70px;
}

/* Start media section */

@media screen and (max-width: 1195px) {
  .container {
    padding: 0 130px;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    padding: 0 90px;
  }
}
@media screen and (max-width: 980px) {
  .container {
    padding: 0 45px;
  }
}
@media screen and (max-width: 365px) {
  .container {
    padding: 0 20px;
  }
}
